<header id="layout-header">
    <h1 id="title"><a href="/">codeial</a></h1>
    <ul>
        <% if(locals.user){ %>
            <li><a href="/users/profile/<%= user.id %>"><%= user.name %></a></li>
            <li><a href="/users/sign-out">Sign-out</a></li>
        <% } else{ %>
            <li><a href="/users/sign-in">Sign-in</a></li>
            <li><a href="/users/sign-up">Sign-up</a></li>
        <% } %>
    </ul>
</header>