<br>
<br>
<form method="POST" action="/users/reset-password-token">
    <label for="email">Email ID</label>
    <input type="email" name="email" id="email">
    <input type="submit" value="Submit">
</form>