<br>
<br>
<form method="POST" action="/users/change-password">
    <label for="newPassword">New Password</label>
    <input type="password" name="newPassword" id="newPassword"><br>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword"><br>
    <input type="hidden" value="<%= locals.resetToken %>" name="resetToken">
    <button type="submit">Submit</button>
</form>