<h1>Sign up</h1>

<form action="/users/create-user" method="POST">
    <input type="text" name="name" placeholder="Enter Name">
    <input type="email" name="email" placeholder="Enter email id">
    <input type="password" name="password" placeholder="Enter password">
    <input type="password" name="confirm_password" placeholder="Re-enter password"> 
    <button type="submit">Sign up</button>
</form>