<h1>Sign in</h1>
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Enter email id">
    <input type="password" name="password" placeholder="Enter password"> 
    <button type="submit">Sign in</button>
</form>
<a href="/users/auth/google">Sign in / Sign up with Google</a>
<a href="/users/forgot-password">Forgot Password</a>