#home-container{
    display: flex;
    #feed-posts-container{
        width: 70%;
        padding: 15px;
    }

    #all-users-container{
        width: 30%;
        padding: 10px;
        border-left: 1px solid lightgrey;
    }
}