#layout-footer {
  background-color: #e9e8e8;
  height: 20vh;
  border: 0.1px solid transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

#layout-footer p {
  margin-right: 20px;
  margin-left: 20px;
}

#layout-footer ul {
  list-style: none;
}

#layout-footer ul li {
  margin-bottom: 5px;
}

#layout-footer ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#layout-footer ul li a:hover {
  color: #202085;
}
